[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/VectorInstitute/rag-bootcamp/blob/refactor/uv-migration/implementations/sql_search/sql_search_langchain.ipynb)

# SQL Search (structured data) with LangChain

This example shows how to use the Python [LangChain](https://python.langchain.com/docs/get_started/introduction) library to run a natural language RAG search against structured data in a SQL database.

This leverages LangChain's [SQL Database Chains](https://python.langchain.com/docs/integrations/tools/sql_database/) to translate a natural language prompt into a SQL query. After getting a result, the LLM generates a natural language response.

### ðŸ“ Requirements

To run this notebook, you will need:

- **Kaggle account**:  
    - Kaggle username  
    - Kaggle API token ([how to get it](https://www.kaggle.com/docs/api))
- **OpenAI API key**:  
    - Sign up at [OpenAI](https://platform.openai.com/) and create an API key

## Set up the RAG workflow environment

#### Install libraries (Only in Google Colab)

In [ ]:
import os

if 'COLAB_RELEASE_TAG' in os.environ:
    # This is a Google Colab environment
    # Install required dependencies
    !pip3 install faiss-cpu langchain langchain-community langchain-experimental langchain-openai # aieng-rag-utils

#### Import libraries

In [13]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
import os
import pandas as pd
import sys

from aieng.rag.utils import get_device_name
from aieng.rag.utils.search import DocumentReader, pretty_print

from langchain_community.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain_openai import ChatOpenAI

#### Load OpenAI env variables

In [15]:
OPENAI_BASE_URL = os.getenv("OPENAI_BASE_URL","https://api.openai.com/v1")
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY", "YOUR_OPENAI_API_KEY")

#### Choose LLM (no embedding model required)

In [16]:
GENERATOR_MODEL_NAME = "gpt-4.1"

## Set up your SQL data

In this example, we provide a financial dataset of term deposit applications from a Portuguese banking institution. A term deposit is a cash investment held at a financial institution, where money is invested for an agreed rate of interest over a fixed amount of time, or term. The dataset is available on [Kaggle](https://www.kaggle.com/datasets/prakharrathi25/banking-dataset-marketing-targets).

This dataset is downloaded from Kaggle and a SQLite database (`banking_term_deposits.db`) is created from it and stored in the `data` folder.

In [28]:
!pip3 install kaggle
!rm -rf data/

KAGGLE_USERNAME= os.getenv("KAGGLE_USERNAME", "YOUR_KAGGLE_USERNAME")
KAGGLE_KEY = os.getenv("KAGGLE_KEY", "YOUR_KAGGLE_KEY")

os.environ["KAGGLE_USERNAME"] = KAGGLE_USERNAME
os.environ["KAGGLE_KEY"] = KAGGLE_KEY

# Download the dataset from Kaggle
!kaggle datasets download prakharrathi25/banking-dataset-marketing-targets
# Unzip the downloaded dataset
!unzip banking-dataset-marketing-targets.zip -d data

# Clean up the downloaded files
!rm banking-dataset-marketing-targets.zip
!rm data/test.csv
!mv data/train.csv data/banking_term_deposits.csv

CSV_FILE = "data/banking_term_deposits.csv"
DB_FILE = "data/banking_term_deposits.db"

# Create a database file from the CSV data
if not os.path.exists(DB_FILE):
    df = pd.read_csv(CSV_FILE, delimiter=";")
    df.to_sql("banking_term_deposits", "sqlite:///" + DB_FILE, if_exists="replace", index=False)

Requirement already satisfied: kaggle in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (1.7.4.5)
Requirement already satisfied: protobuf in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (6.31.0)
Requirement already satisfied: text-unidecode in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (1.3)
Requirement already satisfied: certifi>=14.05.14 in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (2025.4.26)
Requirement already satisfied: urllib3>=1.15.1 in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (2.4.0)
Requirement already satisfied: six>=1.10 in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (1.17.0)
Requirement already satisfied: idna in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (3.10)
Requirement already satisfied: python-dateutil>=2.5.3 in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: setuptools>=21.0.0 in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (65.5.0)
Requirement already satisfied: webencodings in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (0.5.1)
Requirement already satisfied: python-slugify in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: bleach in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (6.2.0)
Requirement already satisfied: requests in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (4.67.1)
Requirement already satisfied: charset-normalizer in /Users/aishwaryabannimatti/.pyenv/versions/3.10.17/lib/python3.10/site-packages (from kaggle) (3.4.2)

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Dataset URL: https://www.kaggle.com/datasets/prakharrathi25/banking-dataset-marketing-targets
License(s): CC0-1.0
Downloading banking-dataset-marketing-targets.zip to /Users/aishwaryabannimatti/Documents/work/rag-bootcamp/implementations/sql_search
  0%|                                                | 0.00/576k [00:00<?, ?B/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 576k/576k [00:00<00:00, 1.26GB/s]
Archive:  banking-dataset-marketing-targets.zip
  inflating: data/test.csv
  inflating: data/train.csv

Let's look at a preview of the data.

In [33]:
df = pd.read_csv("data/banking_term_deposits.csv", delimiter=";")
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

# Start with a basic generation request without RAG augmentation

Let's start by asking the model a question about our SQL data which we don't expect it to know the answer to. For example:

*What is the average balance of all management jobs who applied for banking deposits?*

In [17]:
query = "What is the average balance of all management jobs who applied for banking deposits?"

## Now send the query to the open source model using KScope

In [18]:
llm = ChatOpenAI(
    model=GENERATOR_MODEL_NAME,
    temperature=0,
    max_tokens=256,
    base_url=OPENAI_BASE_URL,
    api_key=OPENAI_API_KEY
)
message = [
    ("human", query),
]
try:
    result = llm.invoke(message)
    print(f"Result: \n\n{result.content}")
except Exception as err:
    if "Error code: 503" in err.message:
        print(f"The model {GENERATOR_MODEL_NAME} is not ready yet.")
    else:
        raise

Result:

To answer your question, I need to clarify a few things:

- **Data Source:** Are you referring to a specific dataset or database? If so, please provide the relevant data or a sample.
- **Definitions:**
  - *Management jobs*: Are these identified by a "job" column with the value "management"?
  - *Applied for banking deposits*: Is there a column indicating whether someone applied for a deposit (e.g., "deposit" = "yes")?
  - *Balance*: Is there a "balance" column representing the account balance?

Assuming you are referring to the popular **Bank Marketing dataset** (often used in data science exercises), and using the following columns:
- `job` (e.g., "management")
- `balance` (numeric)
- `deposit` (e.g., "yes" or "no")

**The average balance of all management jobs who applied for banking deposits** can be calculated as:

> **Average balance = (Sum of balances for management job applicants who applied for deposit) / (Number of such applicants)**

### Example (in Python/pandas):

```python
import pandas as pd

# Assuming df is your DataFrame
filtered = df[(df['job'] == 'management')

Naturally, without any context the model is unable to answer our question.

## Set up a database chain

Next, we want to set up a **database chain**. This is a tool that leverages the LLM to turn our question into a syntactically-correct SQL query.

In [29]:
db = SQLDatabase.from_uri(f"sqlite:///{DB_FILE}")
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

Notably, let's take a look at the prompt that our database chain is about to ask the LLM.

In [30]:
print(db_chain.llm_chain.prompt.template)

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

## Send the chain request

A lot of magic happens in this next step. The following things happen in the background from the given line of code:
- The prompt above gets sent to the LLM (Llama-3.1), which returns a syntactically-correct SQL query.
- We send that query to our SQLite database and get some results.
- These results get sent back to the LLM along with our original query, which then returns a natural language response. Often times the response is just the basic answer, but sometimes the answer gets wrapped up in a longer text response.

In [31]:
result = db_chain.invoke(query)

> Entering new SQLDatabaseChain chain...
What is the average balance of all management jobs who applied for banking deposits?
SQLQuery:SQLQuery: SELECT AVG("balance") FROM banking_term_deposits WHERE "job" = 'management'
SQLResult: [(1763.6168323112709,)]
Answer:Question: What is the average balance of all management jobs who applied for banking deposits?
SQLQuery: SELECT AVG("balance") FROM banking_term_deposits WHERE "job" = 'management'
> Finished chain.

#### Verify the answer using pandas

In [25]:
print(f"Correct answer using pandas: {df.loc[df['job']=='management', 'balance'].mean()}")

Correct answer using pandas: 1763.6168323112709

This matches with the answer (see ```SQLResult```) returned from the SQL chain above, but the model fails to provide the answer in the final result output. The prompt can be modified to fix this.

Try running the chain request again a few times. You'll probably see different responses each time, sometimes incorrect.